<tr>
  <td><%= experiment.experimenter.fullname %></td>
  <td><%= experiment.status %></td>
  <td><%= experiment.materials %></td>
  <td><%= experiment.procedure %></td>
  <td><%= link_to "View Experiment Details", proposal_experiment_path(experiment.proposal, experiment) %></td>
</tr>
