<h3 class="center page-header">Experiment</h3>

<div class="col s8 m12">
  <div class="brown lighten-5 card medium z-depth-2">
    <div class="card-content">
      <span class="card-title"><h3><%= @experiment.proposal.name %></h3></span>
      <h5>Experiment by: <%= @experiment.experimenter.fullname %></h5>
        <p>Hypothesis: <%= @experiment.proposal.hypothesis %></p>

        <p>Status: <%= @experiment.status %></p>
        <p>Materials: <%= @experiment.materials %></p>
        <p>Procedure: <%= @experiment.procedure %></p>
        <p>Conclusion:
          <% if @experiment.conclusion %>
            <%= @experiment.conclusion %>
          <% else %>
            Experiment ongoing
          <% end %>
        </p>
    </div>
    <div class="card-action">
      <%= link_to "Return to Proposal", proposal_path(@experiment.proposal), :class=>" black-text " %>
      <% if current_user == @experiment.experimenter && @experiment.status != 'Closed' %>
        <%= link_to "Edit Experiment Details", edit_proposal_experiment_path(@experiment.proposal, @experiment), :class=>" black-text "%>
      <% end %>
    </div>
  </div>
</div>





<h3> Observations </h3>
<% if @experiment.observations.any? %>
  <%= render @experiment.observations %>
<% else %>
  <p>There are no observations at this time</p>
<% end %>
<% if current_user == @experiment.experimenter && @experiment.status != 'Closed' %>
  <%= render partial: '/observations/form' , locals: {experiment: @experiment } %>
<% end %>




<h3> Comments </h3>
<%= render @experiment.comments %>
<%= render partial: '/comments/form' , locals: {commentable_type: "Experiment", commentable_id: @experiment.id } %>


