<%= form_for @proposal, html: {class: "new-proposal-submit"} do |f| %>
  <p>
    <%= f.label :name, "Proposal Name" %><br>
    <%= f.text_field :name, size: 100 %>
  </p>
  <p>
    <%= f.label :hypothesis %><br>
    <%= f.text_area :hypothesis, size: "100x10" %>
  </p>
  <p>
    <%= f.label :target_completion_date, "Target Completion Date" %><br>
    <%= f.date_field :target_completion_date %>
  </p>
  <p>
    <%= f.submit, :class => "new-experiment black-text modify-proposal z-depth-2" %>
    <%= button_tag "Cancel Creation", :class => "cancel new-experiment black-text modify-proposal z-depth-2" %>
  </p>
<% end %>
