<!DOCTYPE html>
<html>
<head>
  <title>Labshare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <h2>LabShare</h2>
      <ul>
      <li><%= link_to 'Home', root_path %></li>
      <% if !logged_in? %>
        <li><%= link_to "Register", new_user_path %></li>
        <li><%= link_to "Login", new_session_path %></li>
      <% else %>
        <li><%= current_user.fullname %></li>
        <li><%= link_to "Logout", session_path, method: :delete %></li>
      <% end %>
      </ul>
    </nav>
  </header>

<%= yield %>

</body>
</html>
